<form novalidate (ngSubmit)="onSubmit()" [formGroup]="cpf" class="row justify-content-md-center">
  <h2 class="container-fluid text-center">Đổi Mật Khẩu</h2>
  <div class="col-md-8 mt-4">
    <div class="form-group row">
      <label class="col-md-4 col-form-label">Mật khẩu mới</label>
      <div class="col-md-8">
        <input class="form-control" type="password" formControlName="password">
        <small class="col alert text-danger" role="alert"
             *ngIf="cpf.get('password')?.errors?.required && cpf.get('password')?.touched">
          Bạn phải nhập mật khẩu mới !
        </small>
        <small class="col alert text-danger" role="alert"
             *ngIf="cpf.get('password')?.errors?.pattern && cpf.get('password')?.touched">
          Mật khẩu phải có 8 ký tự trở lên, bao gồm cả chữ, cả số và cả kí tự đặc biệt !
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label">Nhập lại mật khẩu mới</label>
      <div class="col-md-8">
        <input class="form-control" type="password" formControlName="newPassword">
        <small class="col alert text-danger" role="alert"
             *ngIf="cpf.get('newPassword')?.errors?.required && cpf.get('newPassword')?.touched">
          Bạn phải nhập lại mật khẩu mới !
        </small>
        <small class="col alert text-danger" role="alert"
             *ngIf="cpf.get('newPassword')?.errors?.pattern && cpf.get('newPassword')?.touched">
          Mật khẩu phải có 8 ký tự trở lên, bao gồm cả chữ, cả số và cả kí tự đặc biệt !
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-form-label">Nhập mã OTP</label>
      <div class="col-md-8">
        <input class="form-control" type="text" formControlName="otp">
        <small class="col alert text-danger" role="alert"
             *ngIf="cpf.get('otp')?.errors?.required && cpf.get('otp')?.touched">
          Bạn phải nhập mã OTP !
        </small>
        <small class="col alert text-danger" role="alert"
             *ngIf="cpf.get('otp')?.errors?.pattern && cpf.get('otp')?.touched">
          Mã OTP chỉ bao gồm số !
        </small>
      </div>
    </div>

    <div class="form-group row mt-5">
      <div class="col-md-10 container-fluid text-center">
        <button class="btn btn-primary" type="submit" [disabled]=!this.cpf.valid>Cập Nhật</button>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-5">
      <a class="text-body" style="cursor: pointer; text-decoration: none;" href="/auth">Quay lại trang đăng nhập.</a>
    </div>
  </div>
</form>

