<ng-template [ngIf]="job" class="mt-5">
  <div class="container mt-5">
    <p-button (click)="onApply()" label="Ứng tuyển ngay" styleClass="p-button-sm" class="mr-2"></p-button>
    <div class="d-flex mt-5">
      <div>
        <p-avatar
          image="https://cdn.topcv.vn/80/company_logos/cong-ty-cp-giao-duc-educa-corporation-6d67556358b65494d801a26a77be21fb-5ea7b55a0ca31.jpg"
          pBadge value="4" severity="danger" size="xlarge"></p-avatar>
      </div>
      <div class="ml-5">
        <h2 href="#" class="display-5 font-weight-bold">{{job.name}}</h2>
        <p class="mt-3">Hạn nộp hồ sơ: {{this.job.dueDate | date}}</p>
      </div>
    </div>
    <h2>Thông tin chung</h2>
    <div class="d-flex justify-content-around badge badge-info mr-2 p-5">
      <div>
        <div>
          <h2>Mức lương</h2>
          <p>{{job.salaryMin}}-{{job.salaryMax}} triệu</p>
        </div>
        <div>
          <h2>Hình thức làm việc</h2>
          <p>{{job.workingForm.code}}</p>
        </div>
        <div>
          <h2>Trình độ học vấn</h2>
          <p>{{job.academicLevel.code}}</p>
        </div>
      </div>
      <div class="ml-5">
        <div>
          <h2>Số lượng tuyển</h2>
          <p>{{job.qtyPerson}} người</p>
        </div>
        <div>
          <h2>Vị trí ứng tuyển</h2>
          <p>{{job.jobPosition.code}}</p>
        </div>
        <div>
          <h2>Kinh nghiệm </h2>
          <p>{{job.numberExperience}}</p>
        </div>
      </div>
    </div>
    <h2>Địa điểm làm việc</h2>
    <div class="badge badge-info mr-2 p-5 container">
      <div>
        <p>{{job.addressWork}}</p>
      </div>
    </div>
    <h2>Mô tả công việc</h2>
    <div class="badge badge-info mr-2 p-5 container">
      <div>
        <p>{{job.description}}</p>
      </div>
    </div>
    <h2>Quyền lợi</h2>
    <div class="badge badge-info mr-2 p-5 container">
      <div>
        <p>{{job.benefits}}</p>
      </div>
    </div>
  </div>
</ng-template>
