<div class="d-flex container mt-3 mb-5">
  <p-autoComplete class="mr-5" [(ngModel)]="searchJob.name" placeholder="Tên công viêc..." field="name" ></p-autoComplete>
  <p-autoComplete class="mr-5" [(ngModel)]="selectedStatusJobAdvanced" placeholder="Trạng thái công việc..." [suggestions]="filteredStatusJobs"
                  (completeMethod)="filterStatusJob($event)" field="code" [dropdown]="true">
    <ng-template let-statusJob pTemplate="item">
      <div class="statusJob-item">
        <div>{{statusJob.code}}</div>
      </div>
    </ng-template>
  </p-autoComplete>

  <div class="container w-25">
    <h5>Salary: {{rangeValues[0] + ' - ' + rangeValues[1]}}</h5>
    <p-slider [(ngModel)]="rangeValues" [range]="true" [max]="200" (onChange)="handleChangeSalary()"></p-slider>
  </div>


  <p-button class="mr-2" label="Search" icon="pi pi-search" iconPos="right" [loading]="" (onClick)="onSearch()"></p-button>
  <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
</div>
<div class="container mb-2"><p-button class="mr-2" label="add" icon="pi pi-add" iconPos="right" [loading]="" (onClick)="onAdd()"></p-button></div>
<ng-template [ngIf]="user">
  <ngx-job-title *ngFor="let job of jobs" [job]="job" [user]="user"></ngx-job-title>
</ng-template>


<p-paginator [rows]="2" [totalRecords]="totalRecords" [rowsPerPageOptions]="[2,5,10]" (onPageChange)="paginate($event)"></p-paginator>

