<div class=" container mt-2 mb-2">
  <div class="row container">
    <div class="col-md-4">
        <div class="p-inputgroup ">
          <input class="col-md-10" type="text" pInputText placeholder="Tên công việc" [(ngModel)]="searchJob.name">
          <span class="p-inputgroup-addon col-md-2"><i class="pi pi-user"></i></span>
        </div>
    </div>

    <div class="col-md-4">
      <p-autoComplete [style]="{'minWidth':'100%'}" [(ngModel)]="selectedStatusJobAdvanced" placeholder="Trạng thái công việc..."
                      [suggestions]="filteredStatusJobs" (completeMethod)="filterStatusJob($event)" field="code" [dropdown]="true">
        <ng-template let-statusJob pTemplate="item">
          <div class="statusJob-item">
            <span>{{statusJob.code}}</span>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div class="col-md-4">
      <div class="p-inputgroup">
        <input type="text" pInputText placeholder="Địa chỉ làm việc" [(ngModel)]="searchJob.addressWork">
      </div>
    </div>
  </div>

  <div class="row d-flex container mt-5">
    <div class="col-md-4">
        <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Kĩ năng làm việc" [(ngModel)]="searchJob.skills">
        </div>
    </div>

    <div class="col-md-4">
      <h5>Mức Lương: {{rangeValues[0] + ' - ' + rangeValues[1]}} Triệu VNĐ</h5>
      <p-slider [style]="{'minWidth':'100%'}" [(ngModel)]="rangeValues" [range]="true" [max]="200" (onChange)="handleChangeSalary()"></p-slider>
    </div>

    <div class="col-md-4">
      <p-dropdown [style]="{'minWidth':'100%'}" [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sắp xếp"
                  (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0">
      </p-dropdown>
    </div>
  </div>

  <div class="container-fluid row mt-5 mb-5">
    <div class="col-md-9">
      <p-button class="col-md-4 float-right" [style]="{'minWidth':'100%'}" label="Tìm Kiếm" icon="pi pi-search" iconPos="right" [loading]="" (onClick)="onSearch()"></p-button>
    </div>

    <div class="col-md-3">
      <p-button [style]="{'minWidth':'100%'}" label="Thêm Mới" icon="pi pi-plus" iconPos="right" [loading]="" (onClick)="onAdd()"></p-button>
    </div>
  </div>
</div>

<ng-template [ngIf]="user">
  <ngx-job-title *ngFor="let job of jobs" [job]="job" [user]="user"></ngx-job-title>
</ng-template>

<p-paginator [rows]="2" [totalRecords]="totalRecords" [rowsPerPageOptions]="[2,5,10]" (onPageChange)="paginate($event)"></p-paginator>
