<section id="pricing" class="pricing">
<!--  <div class="container" data-aos="fade-up">-->
      <div class="row gy-4" >
        <ng-template [ngIf]="user">

        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 style="color: #07d5c0;" (click)="onReadUserDetail(this.user.id)">{{this.user.userName}}</h3>

            <div class="mt-5 mb-5">
              <p-avatar [image]="avatar" size="xlarge"></p-avatar>
            </div>

            <ul>
              <li>{{user.name}}</li>
              <li>{{this.user.birthday| date}}</li>
              <li>{{this.user.gender}}</li>
            </ul>

            <ng-template [ngIf]="user.active===false" >
              <p-button class="" label="Tái kích hoạt" icon="pi pi-check" iconPos="right" [loading]="" (onClick)="onDeactivate(this.user.id)"></p-button>
            </ng-template>

            <ng-template [ngIf]="user.active===true " >
              <p-button class="" label="Hủy kích hoạt" icon="pi pi-times" iconPos="right" [loading]="" (onClick)="onDeactivate(this.user.id)"></p-button>
            </ng-template>
          </div>
        </div>
        </ng-template>
      </div>
<!--  </div>-->
</section>
