<div class="d-flex justify-content-lg-start container bg-info p-3 rounded mb-4">
  <div>
    <p-avatar
      image="https://cdn.topcv.vn/80/company_logos/cong-ty-cp-giao-duc-educa-corporation-6d67556358b65494d801a26a77be21fb-5ea7b55a0ca31.jpg"
      pBadge value="4" severity="danger" size="xlarge"></p-avatar>
  </div>
  <div class="ml-5">
    <div class="d-flex justify-content-lg-between">
      <a  style="cursor: pointer;" class="display-5 font-weight-bold mr-5">{{this.user.userName}}</a>
      <p class="badge badge-secondary mr-2">{{this.user.birthday| date}}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="badge badge-secondary mr-2" style="cursor: pointer;" (click)="onReadUserDetail(this.user.id)">{{user.name}}</p>
      <p class="badge badge-secondary mr-2">{{this.user.gender}}</p>
    </div>
  </div>
</div>
